In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

In [9]:
# Load in DataFrame
stroke_df = pd.read_csv("Resources/adult.csv")
stroke_df.head()

,Unnamed: 0,gender,age,hypertension,heart_disease,ever_married,avg_glucose_level,bmi,stroke,govt_worker,never_worked,private_worker,self_employed,minor_unemployed,rural_residence,urban_residence,smoking_unknown,former_smoker,never_smoked,current_smoker
0,0,1,67.0,0,1,1,228.69,36.6,1,0,0,1,0,0,0,1,0,1,0,0
1,2,1,80.0,0,1,1,105.92,32.5,1,0,0,1,0,0,1,0,0,0,1,0
2,3,0,49.0,0,0,1,171.23,34.4,1,0,0,1,0,0,0,1,0,0,0,1
3,4,0,79.0,1,0,1,174.12,24.0,1,0,0,0,1,0,1,0,0,0,1,0
4,5,1,81.0,0,0,1,186.21,29.0,1,0,0,1,0,0,0,1,0,1,0,0

In [8]:
#remove "ghotst" column
stroke_df.drop(columns=["Unnamed: 0"], inplace=True)

,gender,age,hypertension,heart_disease,ever_married,avg_glucose_level,bmi,stroke,govt_worker,never_worked,private_worker,self_employed,minor_unemployed,rural_residence,urban_residence,smoking_unknown,former_smoker,never_smoked,current_smoker
0,1,67.0,0,1,1,228.69,36.6,1,0,0,1,0,0,0,1,0,1,0,0
1,1,80.0,0,1,1,105.92,32.5,1,0,0,1,0,0,1,0,0,0,1,0
2,0,49.0,0,0,1,171.23,34.4,1,0,0,1,0,0,0,1,0,0,0,1
3,0,79.0,1,0,1,174.12,24.0,1,0,0,0,1,0,1,0,0,0,1,0
4,1,81.0,0,0,1,186.21,29.0,1,0,0,1,0,0,0,1,0,1,0,0

In [13]:
# Export Selected Columns to CSV Files
independent_columns = ['age', 'gender', 'ever_married']
stroke_df.to_csv("Resources/independent.csv", index=False, columns=independent_columns)

In [19]:
dependent_columns = ['stroke','hypertension','heart_disease','bmi','avg_glucose_level']
stroke_df.to_csv("Resources/dependent.csv", index=False, columns=dependent_columns)

In [22]:
employment_columns = ['age','gender','stroke','bmi','avg_glucose_level','ever_married','govt_worker','never_worked','private_worker','self_employed','minor_unemployed']
stroke_df.to_csv("Resources/employment.csv", index=False, columns=employment_columns)

In [23]:
cardio_columns = ['age','gender','stroke','bmi','avg_glucose_level','ever_married','hypertension','heart_disease']
stroke_df.to_csv("Resources/cardiovascular.csv", index=False, columns=cardio_columns)

In [24]:
housing_columns = ['age','gender','stroke','bmi','avg_glucose_level','ever_married','rural_residence','urban_residence']
stroke_df.to_csv("Resources/housing.csv", index=False, columns=housing_columns)

In [25]:
smoking_columns = ['age','gender','stroke','bmi','avg_glucose_level','ever_married','smoking_unknown','former_smoker','never_smoked','current_smoker']
stroke_df.to_csv("Resources/smoking.csv", index=False, columns=smoking_columns)